<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>Топ 10 най-забавни вицове</h2>
                </header>
                <br />
                <p>
                    Двама рибари седят край брега с въдици в ръка и скучаят.Рибата изобщо не кълве.
                    -Какъв сом хванах наскоро ,Коле,нямаш си представа.
                    -Защо не си ми казал досега?
                    -Хвана се на ей-такава мряна.20 минути се борих с него.Лягаше на дъното,пак  тръгваше и обикаляше гьола,докато не се умори.Тогава го придърпах като парцал  до брега.
                    -Е-е-е,как си могъл да мълчиш досега!Във фризера ли го прибра?Колко кила е ?
                    -Е,не можах да го премеря,защото тъкмо се навеждах да го хвана за хрилете и да го извадя на брега и ...жената ме  събуди!
                </p>
                <br />
                <p>
                    Двама риболовци си говорят:
                    -Да знаеш,Коле,решил съм да си хвана любовница.
                    -Я го гледай ти,палавник!
                    -Да,бе.На жената ще казвам,че съм при любовницата,на любовницата ,че съм
                    при жената ...А аз през цялото  време ще си ловя  риба...
                </p>
                <br />
                <p>
                    Рибар влязъл  в магазин за риба и казал  на магазинера:
                    -Искам да си купя  един шаран,но ще ви помоля да ми го хвърлите ,за да го
                    хвана с ръцете.
                    -Не  разбрах точно какво искате да  направя-погледнал го в недоумение
                    провадачът.
                    Искам да хвана шарана с ръце,та като разказвам  вкъщи ,че съм го хванал ,да
                    не  ме мислят за лъжец.
                </p>
                <br />
                <p>
                    Двама въдичари са на риба. Единият пита:
                    - Сега нашите жени какво ли правят?
                    Вторият отговаря:
                    - Или плетат, или правят секс.
                    Минава се малко време, и първият скача да си върви.Другият го пита учудено:
                    -Какво ти стана ,бе човек?Къде хукна?
                    - Моята жена не може да плете...,отговаря отдалечавайки се бързо   колегата му.
                </p>
                <br />
                <p>
                    Двама рибари тръгват да се прибират и единия кани другия на гости:
                    - Ела у нас да ударим по някоя ракия и ще   поговорим  и за риболов...
                    - У вас не става -категорично отказал другият.- Кухнята ви е толкова тясна, че в нея не може  въобще да се говори за риболов.
                </p>
                <br />
                <p>
                    На брега на реката седи рибар. Към него се приближава  минаващ  младеж:
                    - Хвана ли нещо?
                    - Да, - мрачно отговаря рибарят. Хванах един, обаче го хвърлих в реката.
                    - Навярно е бил малък?
                    - Да, на ръст като тебе и също толкова любопитен...
                </p>
                <br />
                <p>
                    Срещнали се двама глухи.Единият попитал:
                    -Къде?За риба ли?
                    Другият отговорил:
                    -А,не.Ще отида да хвана малко риба.
                    А първият казал:
                    -О-о-о! А  пък аз си мислех,че си тръгнал за риба.
                </p>
                <br />
                <p>
                    Мъж  се обажда по телефона:
                    -Ало ,Дружеството за защита на животните ли е?Жена  ми току-що  обиди рибата,
                    която хванах .
                </p>
                <br />
                <p>
                    Мъж среща приятеля си ,който се прибира с въдица в ръка.
                    -Откъде идваш?
                    -От реката.
                    -Ами къде е рибата?
                    -В реката!
                </p>
                <br />
                <p>
                    Двама рибари  клечат на реката.Тъй като риболовът не вървял,единият започнал да се оплаква:
                    -Една хрема ме е хванала и гърло ме боли ,ужас!
                    -И мене ме беше хванала една ангина,но жена ми ме излекува
                    с хубав секс-казал другият.
                    Първият   попитал :
                    -А жена ти сега вкъщи ли е ?
                </p>
                <footer>
                    <a class="btn btn-default btn-xs" href="/">Back to homepage</a>
                </footer>.
            </article>
        </div>
    </div>
</div>