<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>Рецепта за студените зимни дни</h2>
                </header>
                <br />
                <p>
                    Рецептата за рибена чорба представя видеооператорът в РТВЦ-Благоевград Методи Стоилков. По думите му рецептата е много практична за зимния сезон, особено за тези въдичари ,които ходят на риболов с колата и няма как да се сгреят с други течности. За рибения бульон са необходими един морков,една чушка ,домат,кромид.Всички тези неща трябва да се нарежат, след което да се сложат в глинено гърненеце.Не е важно как ще бъдат нарязани продуктите ,тъй като обикновено се използва само бульонът от чорбата.Така че на едричко да се нарежат ,е по-добре и по-удобно. Според Методи дори е по-добре ,ако извършите подготовката за това в къщи,и отидете на реката с нарязани и подготвени за чорбата продукти .След като ги сложите в гърненцето ,сипвате олио ,слагате черен пипер ,сол ,вода и поставяте гърненцето край огъня.Докато зеленчуковият бульон заври,можете спокойно да ловите риба.Каквато и риба да хванете,става за чорбата. Зимата рибата ,която най-много се хваща в река Струма е скобарът.Тъй като повечето са все големи , можете да използвате само главата ,която ще е напълно досаттъчна за рибената чорба.След като бульонът е заврял,слагате рибената глава и след около 15 минути чорбата е готова.Опитайте!!!
                </p>
                <footer>
                    <a class="btn btn-default btn-xs" href="/">Back to homepage</a>
                </footer>.
            </article>
        </div>
    </div>
</div>