<head>
    <link rel="stylesheet" type="text/css" href="/views/aboutus/aboutus.css">
</head>
<div class="container body-content">
    <div class="row">
        <class="col-md-12">
            <article>
                <header>
                    <h2> Още за риболова</h2>
                </header>

                <p>
                    Едно предаване на РТВЦ - Благоевград за риболов, невероятни рибарски истории и вицове, бързи и лесни рецепти, уловени едри екземпляри. За атмосферата в рибарските биваци край речния бряг или язовира
                </p>

                <h3>
                    Екип на предаването
                </h3>

                <p>
                    <strong>Николай Янев/сценарист/</strong>  <br/> Първият му риболовен билет е от 1980 година.Любимо място за риболов -река Струма в началото на Кресненското дефиле.Предпочитана риба - мряна ,клен,скобар...
                </p>
                <p>
                    <strong>Росен Петрински/първият оператор на предаването/ </strong>  <br/> С  риболовен билет е от 1981-а година.Любимите му места за риболов  са Кресненското дефиле и езерата и оттичащите се от тях реки в Северен Пирин.Обича да хвърля въдица най-вече за мряна и пъстърва.
                </p>
                <p>
                    <strong>Петър Маерков -/видеооператор/ </strong>  <br/> Твърди, че е с въдица по реките и язовирите  в Пиринския край, откакто се помни.Най-много обича да лови  на булдо , а  любимата му риба е кленът.Харесва  и излетите  за щука и костур.
                </p>
                <p>
                   <strong> Маргарита Полежанова -/режисьор/ </strong>  <br/> Първата риба, която успя да хване с въдица, е 700-грамов шаран. Това стана през месец март 2009-а във водоема за спортен риболов край гоцеделчевското село Гайтаниново.
                </p>
                <p>
                    <strong> Петър Кьосев и Николай Чобанов -/актьори/ </strong>
                </p>

                <h3>
                    Лицата на Още за риболова
                </h3>

                <div class="image123">
                    <div style="float:left;margin-right:5px;">
                        <img src="/images/nyanev.JPG" height="200" width="200"  />
                        <p style="text-align:center;">Николай Янев</p>
                    </div>
                    <div style="float:left;margin-right:5px;">
                        <img class="middle-img" src="/images/rpetrinski.JPG" height="200" width="200" />
                        <p style="text-align:center;">Росен Петрински</p>
                    </div>
                    <div style="float:left;margin-right:5px;">
                        <img src="/images/pmaerkov.JPG" height="200" width="200" />
                        <p style="text-align:center;">Петър Маерков</p>
                    </div>
                    <div style="float:left;margin-right:5px;">
                        <img class="middle-img" src="/images/mpolejanova.JPG" height="200" width="200" />
                        <p style="text-align:center;">Маргарита Полежанова</p>
                    </div>
                    <div style="float:left;margin-right:5px;">
                        <img src="/images/actors.JPG" height="200" width="200" />
                        <p style="text-align:center;">Петър Кьосев и Николай Чобанов</p>
                    </div>
                </div>


                <footer>
                    <a class="btn btn-default btn-xs" href="/">Back to homepage</a>
                </footer>.
            </article>
        </div>
    </div>
</div>

