<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>Още за риболова</h2>
                </header>

                <p>
                    Едно предаване на РТВЦ - Благоевград за риболов, невероятни рибарски истории и вицове, бързи и лесни рецепти, уловени едри екземпляри. За атмосферата в рибарските биваци край речния бряг или язовира
                </p>

                <h4>
                    <br></br>
                    Екип на предаването
                </h4>
                <p>
                    <img src="images/NYanev.png">
                    Николай Янев/сценарист/- Първият му риболовен билет е от 1980 година.Любимо място за риболов -река Струма в началото на Кресненското дефиле.Предпочитана риба - мряна ,клен,скобар...
                </p>

                <p>
                    Росен Петрински/първият оператор на предаването  /- С  риболовен билет е от 1981-а година.Любимите му места за риболов  са Кресненското дефиле и езерата и оттичащите се от тях реки в Северен Пирин.Обича да хвърля въдица най-вече за мряна и пъстърва.
                </p>

                <p>
                    Петър Маерков -/видеооператор/- Твърди, че е с въдица по реките и язовирите  в Пиринския край, откакто се помни.Най-много обича да лови  на булдо , а  любимата му риба е кленът.Харесва  и излетите  за щука и костур.
                </p>

                <p>



                    Маргарита Полежанова -/режисьор/- Първата риба, която успя да хване с въдица, е 700-грамов шаран. Това стана през месец март 2009-а във водоема за спортен риболов край гоцеделчевското село Гайтаниново.
                </p>

                <p>
                    Петър Кьосев(вляво) и Николай Чобанов(вдясно) -/актьори/
                </p>

                <footer>

                </footer>.
            </article>
        </div>
    </div>
</div>